@model Web.ViewModels.RegisterShip.WingsViewModel

@{
    ViewData["Title"] = "Choose Wings";
}

<h1>@ViewData["Title"]</h1>
<form asp-controller="RegisterShip" asp-action="Wings" method="POST">
    <input asp-for="HullId">
    <input asp-for="EngineId">

    @for (var i = 0; i < Model.SelectedWings.Length; i++)
    {
        <h1>Wing @(i+1)</h1>
        @Html.DropDownListFor(m => m.SelectedWings[i], new SelectList(Model.GetSelectableAvailableWings(), "Value", "Text"), new {@class = "form-control"})

        <h3>Select Weapons</h3>
        @Html.ListBoxFor(m => m.SelectedWeapons[i], new MultiSelectList(Model.GetSelectableAvailableWeapons(), "Value", "Text"), new {@class = "form-control"})
    }

    <input type="submit" value="Submit"/>
</form>
